.w-80 .min-w-80,
.border-r,
.border-gray-800,
.overflow-y-auto {
  border-radius: 10px;
  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.375rem rgb(79, 78, 78);
    border-radius: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.375rem rgba(238, 238, 238, 1);
    outline: none;
    border-radius: 0.8rem;
  }

  &::-webkit-scrollbar-button {
    height: 15rem;
  }
}
.logo {
  &-setting {
    animation: spin 7s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px !important;
    height: 40px !important;
    object-fit: cover !important;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.image-admin {
  margin: 30px 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}

.left-sidebar {
  background: linear-gradient(#181623, #181623, #181623);
  margin-left: 100px;
  padding: 10px;
}
.container-edit {
  // background: linear-gradient(#181623, #050505, #181623);
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(
    43deg,
    rgba(50, 23, 77) 0%,
    rgba(26, 36, 33, 0.8) 46%,
    rgba(50, 23, 77, 0.7) 100%
  );

  .background-user {
    height: 100px;
    padding: 15px !important;
    border-radius: 15px;
    background: linear-gradient(#181623, #181623, #181623);

    img {
      width: 50px;
      height: 50px;
    }
  }
  .input-edit,
  .textarea-edit,
  select,
  .axc {
    background: linear-gradient(#181623, #181623, #181623);
    resize: none;
    padding: 10px;
    outline: none;
    border: none;
  }
  option {
    background-color: #000;
    border: none;
    outline: none;
  }
  .input-edit {
    padding: 12px;
  }
}
